/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
#logo{
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.bg-company-red {
    background-color:#BD0833!important;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url('background.jpg');
    background-size: cover;
    height: 330px;
}

.jumbotron h1{
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlg{
    font-size: 1.7em;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid black;
    color: #777777;
}

footer small{
    float: left;
}

footer ul{
    float: right;
}

well {
    background-color: green($color: #000000);
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}


 @import "bootstrap";